/*
Déplacement de div particulier.
Quand la réorganisation via susy ne suffit pas
*/
/*/
/////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** DEPLACEMENT DE DIV SUR MOBILE ***** \\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

body .conteneur {
  $blocRS-width: span(1);
  $blocRS-height: span(1.5);
  $blocRS-left: 95%;

  #block-socialsimpleblock {
    padding: 0;
    margin: 0;
    width: inherit;
  }
  //Bloc de partage RS avec social simple
  aside.partage-rs {
    max-width: $blocRS-width;
    //max-height: $blocRS-height;
    //position: absolute;
    //width: $blocRS-width;
    //left: $blocRS-left;
    //top: 50em;//position de départ
    //bottom: 0;
    height: auto; //limite la hauteur du bloc
    margin-left: span(1 wide); //push;
    background: $violet;

    ul.links {
      max-width: $blocRS-width;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
      }

      a {
        width: em(40px);
      }
    }
  }
  // Fin aside partage-rs

  aside.block-rrssb {
    margin: span(0.4);
    ul.rrssb-buttons {
      max-width: 100%;
    }
  }
  // Fin .partage-rs.block-rrssb
}
// Fin .conteneur
/*######-------- ||| STYLE ||| --------######*/
//Boucle pour englober tous les TdC concernés
$typedecontenu: type-contenu-vdl, type-contenu-sortie-action, type-contenu-projet, type-contenu-intervenant, type-contenu-innovation,
type-contenu-intervenant, type-contenu-entreprise, type-page-lycee, type-fiche-formation, type-contenu-actualites ;
$zones: zone-1, zone-2, zone-3;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      aside.block-rrssb {
        ul.rrssb-buttons {
          $borders: em(1px) dotted $gris-anthracite;
          border-top: $borders;
          border-bottom: $borders;

          li {
            a {
              @include rollover-effect($orange); //Effet rollover CSS3
              padding: 0; // Annule effet hover autres liens de la page
            }
          }
        }
      }      // Fin .partage-rs.block-rrssb
    }    // Fin ##{$zone}.#{$type}
  }  // Fin @each $type in $typedecontenu
}// Fin @each $zone in $zones
