<h2>Changer les codes stats</h2>
<!--  ######## CODE STATS OK !!!!!!!!!!!!-->
<!-- code XITI  -->
<div id="xiti-logo" style="visibility: hidden;">
<script type="text/javascript">
<!--
document.write('<a href="https://www.xiti.com/xiti.asp?s=xxxx" title="WebAnalytics">');
Xt_param = 's=xxxx&p=<?php echo $head_title; ?>';
try {Xt_r = top.document.referrer;}
catch(e) {Xt_r = document.referrer; }
Xt_h = new Date();
Xt_i = '<img width="39" height="25" border="0" ';
Xt_i += 'src="https://logv11.xiti.com/hit.xiti?'+Xt_param;
Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'"></a>');
//-->
</script>
<noscript>
<div id="xiti-logo-noscript">
<a href="https://www.xiti.com/xiti.asp?s=xxx" title="WebAnalytics" >WebAnalytics solution by <img width="39" height="25" src="https://logv11.xiti.com/hit.xiti?s=471342&amp;p=<?php echo $url; ?>&amp;" alt="WebAnalytics" /></a>
</div>
</noscript>
</div>

<!-- Start Quantcast tag -->

<!--<script type="text/javascript">
_qoptions={
qacct:"xxxx"
};
</script>
<script type="text/javascript" src="https://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="https://pixel.quantserve.com/pixel/p-behZUd_cXqsz-.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>-->

<!-- End Quantcast tag -->

