<!-- ______________________ FOOTER _______________________ -->
<footer id="footer">
  {% if page.footer | render is not empty %}
    {{ page.footer }}

    <div id="bloc_stats">
      {# chargement des typos #}
      {# Chargement des typos Google via le fichier libraries.yml
      % include directory ~ '/js/google_font.html.twig' % #}
      {#    % include directory ~ '/js/code_stats.html.twig' %} #}

    </div>

  {% endif %}
</footer>
<!-- /footer -->

</section>
<!-- ______________________ /CONTENEUR _______________________ -->

{# % include directory ~ '/includes/drupal_debug/inc_drupal_debug.html.twig' % #}